body{
    width:100%;
    overflow: hidden;
}
.inner-page {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    
}

// 基本的显示隐藏效果
.inner-page-base{
    display: none;
}

.inner-page-base.inner-page-show{
    display: block!important;
}

// 左侧切入效果
.inner-page-bounce-right{
    left: 100%;
    transition: left 0.4s ease;
    -webkit-transition: left 0.4s ease;
}

.inner-page-bounce-right.inner-page-show{
    left:0;
}